/*
Fixed Header will contain (in priority order):
    "Bubble Loco" logo in crazy font
    Random color selection "Get All the Red Ones!"
    Timer
    Level Select (1,2,3)

Change CSS when a level button is clicked
*/


  /*****************/
 /*    Header     */
/*****************/

.banner {
    height:85px;
    background:#005533;
    width:100%;
    margin:0px;
    position:fixed;
    top: 0px;
    left: 0;

}

.banner ul {
    float: right;
    list-style-type: none;
    padding-right: 10px;
    position: fixed;
    top: center;
    right: 1%;
}

.banner h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    font-size: 48px;
    position: fixed;
    top: 15px;
    left: 15px;
    margin: 0;
    color: white;
}

.currentLevel {
    display: block;
    font-weight: bold;
    color: #FF5522;
}

.otherLevel {
    color: white;
    display: none;
}

#target_color {
    position: fixed;
    color: white;
    width: 30%;
    left: 40%;
    top: 35px;
    font-family: 'Denk One', sans-serif;

}


  /*****************/
 /*   HTML Body   */
/*****************/

body {
    background: url('../img/background.jpg');
}

div {
    height:12em;
    width:12em;
    display: inline-block;
}

.container {
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;
}


  /*****************/
 /*    Footer     */
/*****************/

footer {
    height: 20px;
    background:#005533;
    width:100%;
    margin:0px;
    bottom: 0;
    top: 0;
}

#signature {
    color: white;
    font-size: 1em;
}


  /*****************/
 /* Colored Balls */
/*****************/

.purple {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, #FF99FF,#6600DD);
}

.red {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, #FF7744, #990000);
}

.blue {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, #66AADD, #0000DD);
}

.yellow {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, #FFFFCC, #FF9900);
}

.green {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, #66FF00, #003300);
}

.orange {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, #FFCC33, #CC3300);
}

.black {
    border-radius: 50%;
    background: -webkit-radial-gradient(55% 45%, circle, darkgrey, black);
}


